<div class="l-home">
    <header class="l-home__mobile">{{> @header}}</header>
    <header class="l-home__desktop">{{> @header--desktop}}</header>
    <main class="l-home__content">
    {{> @presentation}}
    {{> @listressources}}
    <!-- listForum -->
        </main>
    <footer>{{> @footer}}</footer>
</div>
