<div class="m-header--desktop">
    <div class="m-header--flex">
        <div class="m-header__logo m-header">
            {{> @image}}
        </div>
            <div class="m-header--connect">
            {{> @button}}
        </div>
        <div class="m-header--connect">
            {{> @button}}
        </div>
        
    </div>
    <div class="m-header--nav">
        {{> @text--menu}}
    </div>
</div>