<div class="m-header--desktop">
    <div class="m-header--flex">
        <div class="m-header--empty"></div>
        <div class="m-header__logo m-header">
            {{> @image}}
        </div>
        <div class="m-connect--desktop">
            {{> @button}}
        </div>
        <div class="m-connect--desktop">
            {{> @button}}
        </div>
    </div>
    <div class="m-header--nav">
        {{> @text--menu}}
    </div>
</div>