<div cl>ss="m-header"
    <div class="header--image">
        {{> @image}}
    </div>
    <div class="header--image">
        {{> @image}}
    </div>
    <div class="header--connect">
        {{> @button--conect}}
    </div>
    <p>test</p>
</div>