<div class="m-header">
    <div class="m-header__image m-header__menu">
        {{> @image}}
    </div>
    <div class="m-header--image m-header__logo">
        {{> @image}}
    </div>
    <div class="m-header__connect">
        {{> @button}}
    </div>
</div>