<div class="m-presentation">
    <div class="m-presentation__image">
        {{> @image}}
    </div>
    <div class="m-presentation__text">
        {{> @text--articletitle}}
        {{> @text--orange}}
        {{> @text--articlecontent}}
        {{> @text--articlecontent}}
        {{> @button--action}}
    </div>
</div>