<div class="o-listForum">
    {{> @introduction}}
    <div class="o-listForum--topics">
        {{> @forum}}
        {{> @forum}}
        {{> @forum}}
    </div>
    <div class="o-listForum__button">
            {{> @button--action}}
    </div>
</div>