<div class="m-article">
    <div class="m-article__image">
        {{> @image}}
    </div>
    <div class="m-article__text">
        {{> @text--articletitle}}
        {{> @text--articlecontent}}
        {{> @link}}

    </div>
</div>