<div class="m-footer">
    <div class="m-footer__links">
        {{> @link--white}}
        {{> @link--white}}
        {{> @link--white}}
    </div>
    <div class="m-footer__media">
        {{> @image--media}}
        {{> @image--media}}

    </div>
</div>