.l-home {

    &>main{
        width: 80vw;
        margin: 0 auto;
    }
    &__desktop {
        display: none;
    }

    @include medium {
        &__mobile {
            display: none;
        }

        &__desktop {
            display: block;
        }
    }




    &>main {
        &>div {
            margin-bottom: var(--spaceL);
        }
    }
}