.o-listRessources {
    margin-bottom: var(--spaceL);

    &>:nth-child(1) {
        margin-bottom: var(--spaceL);
    }

    &__container {
        @include medium {
            display: flex;
            flex-wrap: wrap;
        }

        &>div {
            @include medium {
                display: flex;
                max-width: 45%;
                margin-right: var(--spaceL);
            }

            margin-bottom: var(--spaceXL);
        }
    }

    &>:nth-child(3) {
        text-align: center;
    }
}