.o-listRessources {

    &>:nth-child(1) {
        margin-bottom: var(--spaceM);
    }

    &__container {
        &>div {
            margin-bottom: var(--spaceL);
        }
    }

    &>:nth-child(3) {
        text-align: center;
    }
}