.m-article {
    display: flex;
    align-content: center;

    &>:nth-child(1) {
        max-width: 40%;
        margin-right: var(--spaceS);

    }

    & :nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        &>a {
            align-self: flex-end;
        }
    }
}