.m-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--desktop {
        border-bottom: 1px solid #707070;


    }

    &--connect {
        @include medium {

            &>a:nth-child(1) {
                margin-right: var(--spaceS);
                margin-left: var(--spaceS);

            }
        }
    }

    &--flex {
        display: flex;

        @include medium {
            width: 80vw;
            margin: 0 auto;
            margin-bottom: var(--spaceL);
            align-items: center;
        }
    }


    &--nav {
        display: flex;
        justify-content: space-around;
        margin-top: var(--spaceXL);
        margin-bottom: var(--spaceL);

        @include medium {
            width: 80vw;
            margin: 0 auto;
            margin-bottom: var(--spaceL);
        }
    }

    &__logo {
        @include medium {
            max-height: 122px;
            margin: 0 auto;
            width: 45%;
            margin-left: 25%;
        }

        min-width: 140px;
    }
}