<div class="o-listRessources">
    {{> @introduction}}
    <div class="o-listRessources__container">
        {{> @article}}
        {{> @article}}
        {{> @article}}
    </div>
    <div class="o-listRessources__button">
            {{> @button--action}}
    </div>
</div>