.a-button {
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border-radius: var(----borderRadius);
    box-shadow: 0 6px 10px 0 rgba(102, 142, 199, 0.4);
    background-color: var(--colorButton);
    font-family: var(--fontFamilyAbel);
    font-size: var(--fontSizeSM);
    padding: 15px 32px;
    line-height: 1.31;
    text-align: center;
    color: var(--colorPrimay);
}

.a-button--action {
    background-color: var(--colorPrimary);
    color: var(--colorTextButton);
    text-decoration: none;
}