.a-link--white {
    color: var(--colorTextButton);
    font-size: var(--fontSizeS);
    font-family: var(--fontFamilyUbuntu);

}

.a-link {
    color: var(--colorPrimary);
    font-size: var(--fontSizeSM);
    font-family: var(--fontFamilyUbuntu);

}