.a-link--white {
    color: var(--colorTextButton) !important;
    font-size: var(--fontSizeS);

}

.a-link {
    color: var(--colorPrimary);
    font-size: var(--fontSizeSM);
    font-family: var(--fontFamilyUbuntu);

}